@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Clash';
  src: url(/fonts/clash.ttf);
  font-weight: 700px;
  font-size: 160px;
  font-style: italic;
}

font-clash {
  font-family: 'Clash';
}

.nav-link::before {
  content: '';
  position: absolute;
  top: 100%;
  transform: scaleX(0);
  width: 100%;
  height: 2px;
  background-color:#183D66;
  transition: transform 0.5s cubic-bezier(.215,.61,.355,1);
  transform-origin: right;
}

.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.button-effect::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 0;
  transform: scaleX(0);
  width: 100%;
  height: 100%;
  background-color:#183D66;
  transition: transform 0.5s cubic-bezier(.215,.61,.355,1);
  transform-origin: right;
  z-index: -1;
}

.button-effect:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
